* {
    user-select: none;
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.main__container {
    display: flex;
    gap: 30px;
}

.flex {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.ui__window.active {
    display: block;
}

.ui__window {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: white;
    top: 0;
    left: 0;
    border: 1px solid grey;
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

.ui__window .header .close__button {
    background-color: red;
    width: 20px;
    height: 100%;
    cursor: pointer;
}

.ui__window .header .title {
    flex: 1;
}

.ui__window .header {
    background-color: aqua;
    height: 20px;
    display: flex;
    align-items: center;
}