* {
    user-select: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.main__container {
    display: flex;
    gap: 30px;
}

.flex {
    display: flex;
}

.gap-10 {
    gap: 10px;
}

.ui__window.active {
    display: flex;
}

.ui__window {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #6C6359;
    top: 0;
    left: 0;
    border: 3px solid #6C6359;
    border-radius: 8px;
    overflow: hidden;
    display: none;
    box-shadow: 0 0 4px 0 black;
    flex-direction: column;
}

.ui__window .body {
    flex: 1;
    background-color: #232015;
}

.ui__window .header .close__button {
    background-color: red;
    width: 20px;
    height: 100%;
    cursor: pointer;
}

.ui__window .header .title {
    flex: 1;
    color: #E7C142;
    padding: 0 5px;
}

.ui__window .header {
    background-color: #6C6359;
    height: 25px;
    display: flex;
    align-items: center;
}

.items__container {
    padding: 10px;
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.items .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #524437;
    border-radius: 6px;
    min-width: 35px;
    padding: 5px;
    gap: 5px;
}

.item .info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #a3a3a3;
}

.item .icon {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}